extends layout

block content
	h1= title
	p Welcome to CSE Inventory System

	h1 Dynamic content

	if error
		p Error getting dynamic content.
	else
		p The Inventory has the following record counts:

		ul
			li #[strong Products:] !{data.product_count}
			li #[strong Total Products:] !{data.product_instance_count}
			li #[strong Total Types:] !{data.type_count}
			li #[strong Available Products:] !{data.product_instance_available_count}