extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
        i.icon-chevron-right
    li
      a(href='/catalog/productinstances') Product-Instances
        i.icon-chevron-right
    li
      a(href=productinstance.url) #{productinstance._id}



  h1 ID: #{productinstance._id}
  
  p #[strong Product:] 
    a(href=productinstance.product.url) #{productinstance.product.productName}
  p #[strong Location:] #{productinstance.location}

  p #[strong Status:] 
    if productinstance.status=='Available'
      span.text-success #{productinstance.status}
    else if productinstance.status=='Maintenance'
      span.text-danger #{productinstance.status}
    else
      span.text-warning #{productinstance.status} 
      
  if productinstance.status!='Available'
    p #[strong Due back:] #{productinstance.due_date_formatted}

  hr
  p
    a(href=productinstance.url+'/delete') Delete ProductInstance
  p
    a(href=productinstance.url+'/update') Update ProductInstance