extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-chevron-right
    li
      a(href='/catalog/productinstances') Product-Instances
  h1= title

  ul
  each val in productinstance_list
    li 
      a(href=val.url) #{val.product.productName} (#{val.product.description}): #{val.imprint} - 
      if val.status=='Available'
        span.text-success #{val.status}
      else if val.status=='Out of Service'
        span.text-danger #{val.status}
      else
        span.text-warning #{val.status} 
      if val.status!='Available'
        span  (Due: #{val.due_date_formatted} )

  else
    li There are no product in this inventory.