extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-angle-right
    li
      a(href='/catalog/productinstances') Product-Instances
      i.icon-angle-right
    li
      a(href=productinstance.url) #{productinstance._id}
    li
      a(href=productinstance.url+'/delete') Delete #{productinstance._id}

  h1= title
  
  p #[strong Do you really want to delete this ProductInstance?]
  
  div(style="margin-left:20px")

    p #[strong ID]: #{productinstance._id}
  
    p #[strong Title:] 
      a(href=productinstance.product.url) #{productinstance.product.productName}
    
    p #[strong Imprint:] #{productinstance.location}

    p #[strong Status:] 
      if productinstance.status=='Available'
        span.text-success #{productinstance.status}
      else if productinstance.status=='Maintance'
        span.text-danger #{productinstance.status}
      else
        span.text-warning #{productinstance.status} 
      
    if productinstance.status!='Available'
      p #[strong Due date:] #{productinstance.due_date_formatted}

  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=productinstance._id )

    button.btn.btn-primary(type='submit') Delete