extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-chevron-right
    li
      a(href='/catalog/products') Products
      i.icon-chevron-right
    li
      a(href='/catalog/product/create') #{title}



  h1= title
  .row-fluid.sortable
    .box.span12
      .box-header(data-original-title='')
        h2
          i.halflings-icon.white.edit
          span.break
          | #{title}
        .box-icon
          a.btn-setting(href='#')
            i.halflings-icon.white.wrench
          a.btn-minimize(href='#')
            i.halflings-icon.white.chevron-up
          a.btn-close(href='#')
            i.halflings-icon.white.remove
      .box-content
        form.form-horizontal(method='Post' action='')
          fieldset
            .control-group
              label.control-label(for='productName') Product Name:
              .controls
                input#productName.input-xlarge.focused(type='text', placeholder='Name of product' name='productName' required='true' value=(undefined===product ? '' : product.productName))
            .control-group
              label.control-label(for='type') Type:
              .controls
                select#type.form-control(type='select',data-rel='chosen', placeholder='Select type' name='type' required='true' )
                  for type in type_list
                    if type
                      option(value=type._id selected=(selected_type==type._id.toString() ? 'selected' : false) ) #{type.name}
                    else
                      option(value=type._id) #{type.name}
            .control-group
              label.control-label(for='description') Description:
              .controls
                input#description.input-xlarge.focused(type='textarea', placeholder='Description of Product' name='description' value=(undefined===product ? '' : product.description) required='true')
            .form-actions
              button.btn.btn-primary(type='submit') Submit




  if errors 
    ul
      for error in errors
        li!= error.msg