extends layout

block content
	ul.breadcrumb
		li
			i.icon-home
			a(href='/catalog') Home
			i.icon-chevron-right
		li
			a(href='/catalog/products') Products

	h1= title

	.row-fluid.sortable
		.box.span12
			.box-header(data-original-title='')
				h2
					i.halflings-icon.white.list-alt
					span.break
					| Products
				.box-icon
					a.btn-setting(href='#')
						i.halflings-icon.white.wrench
					a.btn-minimize(href='#')
						i.halflings-icon.white.chevron-up
					a.btn-close(href='#')
						i.halflings-icon.white.remove
			.box-content
				table.table.table-striped.table-bordered.bootstrap-datatable.datatable
					thead
						tr
							th Name
							th Description
							th Type
							th Actions
					tbody

					each product in product_list 
						
						tr
							td 
								a(href=product.url) #{product.productName}
							td.center #{product.description}
							td.center 
								each val in product.type
									a(href=val.url) #{val.name}

							td.center
								a.btn.btn-info(href=product.url+'/update')
									i.halflings-icon.white.edit
								a.btn.btn-danger(href=product.url+'/delete')
									i.halflings-icon.white.trash
					else
						tr
							td
								N/A
							td.center N/A
							td.center 
								#count
							td.center
								a.btn.btn-success(href='#')
									i.halflings-icon.white.zoom-in
								a.btn.btn-info(href='#')
									i.halflings-icon.white.edit
								a.btn.btn-danger(href='#')
									i.halflings-icon.white.trash