extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-chevron-right
    li
      a(href='/catalog/products') Products
      i.icon-chevron-right
    li
      a(href=product.url) #{product.productName}
      
  h1 #{title}: #{product.productName}

  hr

  p #[strong Description:] #{product.description}  
  p #[strong Type:]&nbsp;
    each val in product.type
      a(href=val.url) #{val.name}


    .row-fluid.sortable
      .box.span12
        .box-header(data-original-title='')
          h2
            i.halflings-icon.white.list-alt
            span.break
            | #{product.productName}

            
          .box-icon
            a.btn-setting(href='#')
              i.halflings-icon.white.wrench
            a.btn-minimize(href='#')
              i.halflings-icon.white.chevron-up
            a.btn-close(href='#')
              i.halflings-icon.white.remove
        .box-content
          table.table.table-striped.table-bordered.bootstrap-datatable.datatable
            thead
              tr
                th ID
                th Location
                th Status
                th Asset ID
                th P.O. Number             
                th Tag
                th Tag Number
                th Serial ID
                th Asset ID
                th Model
                th Department
                th Sum Cost
                th Asset Count
                th Last Inventory Date
                th Actions
            tbody

            each val in product_instances

              tr
                td 
                  a(href=val.url) #{val._id}
                td.center #{val.location}
                td.center
                  if val.status=='Available'
                    span.label.label-success Available
                  else if val.status=='Out of Service'
                    span.label.label-warning Out of Service
                  else
                    span.label.label-important Maintenance
                td.center #{val.assetId}
                td.center #{val.poNum}            
                td.center 
                      //each val in tags.tag
                        //a(href=val.url) #{val.name}
                td.center #{val.tagNum}
                td.center #{val.serialId}
                td.center #{val.assetId}
                td.center #{val.model}
                td.center #{val.acquistionDept}
                td.center #{val.acquistionFund}
                td.center #{val.assetCount}
                td.center #{val.lastInventoryDate_formatted}



                td.center
                  a.btn.btn-info(href=val.url+'/update')
                    i.halflings-icon.white.edit
                  a.btn.btn-danger(href=val.url+'/delete')
                    i.halflings-icon.white.trash
            else
              tr
      


