extends layout

block content

  h1 ID: #{productinstance._id}
  
  p #[strong Title:] 
    a(href=productinstance.product.url) #{productinstance.product.productName}
  p #[strong Location:] #{productinstance.location}

  p #[strong Status:] 
    if productinstance.status=='Available'
      span.text-success #{productinstance.status}
    else if productinstance.status=='Maintenance'
      span.text-danger #{productinstance.status}
    else
      span.text-warning #{productinstance.status} 
      
  if productinstance.status!='Available'
    p #[strong Due back:] #{productinstance.due_date_formatted}