extends layout

block content
  ul.breadcrumb
    li

      a(href='/catalog') Home
      i.icon-angle-right
    li
      a(href='/catalog/productinstances') Product-Instances
      i.icon-angle-right
    li
      a(href='/catalog/productinstance/create') Create, Update Product-Instance


  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='product') Product:
      select#product.form-control(type='select', placeholder='Select product' name='product' required='true' )
        for product in product_list
          if product
            option(value=product._id selected=(selected_product==product._id.toString() ? 'selected' : false) ) #{product.productName}
          else
            option(value=product._id) #{product.productName}
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='Maintance') Maintance
        option(value='Available') Available
        option(value='Out of Service') Out of Service
    
    div.form-group
      label(for='due_date') Date when product available:
      input#due_date.form-control(type='date', placeholder='mm-dd-yyyy' name='due_date' value=(undefined===productinstance ? '' : productinstance.due_back))

    div.form-group
      label(for='location') Location:
      input#location.form-control(type='text' placeholder='CSE, Math' name='location' required='true' value=(undefined===productinstance ? '' : productinstance.location))        


    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg