extends layout

block content
	ul.breadcrumb
		li
			a(href='/catalog') Home
			i.icon-angle-right
		li
			a(href='/catalog/products') Products

	h1= title

	ul

	each product in product_list
		li
			a(href=product.url) #{product.productName}
			| - #{product.description}
			|#{product.type.detail}
	else
		li There are no products.
