extends layout

block content
  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-chevron-right
    li
      a(href='/catalog/tags') Tags
      i.icon-chevron-right
    li
      a(href=tag.url) #{tag.name}
  h1 Tag: #{tag.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Product Instances
    
    dl
    each val in product_list.product
      dt 
        a(href=val.url) #{val.productName}
      dd #{val.description}

    else
      p This tag has no products.

  hr
  p
    a(href=tag.url+'/delete') Delete tag
  p
    a(href=tag.url+'/update') Update tag