extends layout

block content
  ul.breadcrumb
    li
      a(href='/catalog') Home
      i.icon-angle-right
    li
      a(href='/catalog/types') Types
    li
      a(href=type.url) #{type.name}
  h1 Type: #{type.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Products
    
    dl
    each product in type_products
      dt 
        a(href=product.url) #{product.productName}
      dd #{product.description}

    else
      p This type has no products.

  hr
  p
    a(href=type.url+'/delete') Delete type
  p
    a(href=type.url+'/update') Update type